modules = ["nodejs-20", "web"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 3001

[[ports]]
localPort = 3001
externalPort = 3002

[[ports]]
localPort = 5174
externalPort = 3000

[[ports]]
localPort = 8085
externalPort = 80
